"*":
  "atom-beautify":
    ruby:
      beautify_on_save: true
      rubocop_path: "bundle exec rubocop"
  core:
    audioBeep: false
    disabledPackages: [
      "atom-beautify"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".sublime*"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/home/kamran/Dropbox/Dashboard/workspace"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "atom-light-syntax"
    ]
  "custom-title":
    template: "<%= fileName %> <% if (projectName) { %> - <%= projectName %> <% } %>"
  editor:
    confirmCheckoutHeadRevision: false
    fontSize: 16
    preferredLineLength: 800
  "exception-reporting":
    userId: "a1b277f7-bb08-4971-b5b9-afa39b4adff6"
  linter: {}
  "linter-rubocop":
    command: "/home/kamran/.asdf/shims/bundle exec rubocop --config rubocop.yml"
    disableWhenNoConfigFile: true
  "linter-ui-default": {}
  minimap: {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "project-manager":
    showPath: false
  "project-plus":
    projectHome: "/home/kamran/Dropbox/Dashboard/workspace"
    showPath: true
  script: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
