"*":
  "atom-beautify":
    ruby:
      beautify_on_save: true
      default_beautifier: "Ruby Beautify"
  core:
    audioBeep: false
    projectHome: "/home/kamran/Dropbox/Dashboard/workspace"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "atom-light-syntax"
    ]
  editor:
    confirmCheckoutHeadRevision: false
    fontSize: 16
    preferredLineLength: 800
  "exception-reporting":
    userId: "a1b277f7-bb08-4971-b5b9-afa39b4adff6"
  "linter-rubocop":
    command: "/home/kamran/.asdf/shims/bundle exec rubocop --config rubocop.yml"
    disableWhenNoConfigFile: true
  minimap: {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
