packages: [
  "atom-beautify"
  "atom-css-comb"
  "atom-eclipse-syntax"
  "atom-prettify"
  "busy-signal"
  "cucumber"
  "cucumber-step"
  "custom-title"
  "intentions"
  "language-docker"
  "language-rspec"
  "linter"
  "linter-ruby"
  "linter-ui-default"
  "minimap"
  "package-sync"
  "project-manager"
  "project-plus"
  "railscast-theme"
  "ruby-test"
  "Sublime-Style-Column-Selection"
  "teletype"
  "trailing-spaces"
]
