packages: [
  "atom-beautify"
  "atom-css-comb"
  "busy-signal"
  "cucumber"
  "cucumber-step"
  "intentions"
  "language-docker"
  "language-rspec"
  "linter"
  "linter-rubocop"
  "linter-ruby"
  "linter-ui-default"
  "minimap"
  "package-sync"
  "railscast-theme"
  "ruby-test"
  "Sublime-Style-Column-Selection"
  "trailing-spaces"
]
