[
  {
    title: "guide"
    paths: [
      "/home/kamran/Dropbox/Dashboard/guide"
    ]
  }
  {
    title: "dttemp"
    paths: [
      "/home/kamran/Dropbox/Dashboard/workspace/dttemp"
    ]
  }
  {
    title: "daily-cash-register"
    paths: [
      "/home/kamran/Dropbox/Dashboard/workspace/daily-cash-register"
    ]
  }
  {
    title: "substance-api"
    paths: [
      "/home/kamran/Dropbox/Dashboard/workspace/substance-api"
    ]
  }
]
